# Ignore node_modules directory
/node_modules

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Editor files
.settings
.idea
*.iml
.vscode/

# Ignore build files and distributions
/dist
/build

# Ignore personal environment files
.env
.env.local
